/api/.phpunit.cache
/api/node_modules
/api/public/build
/api/public/hot
/api/public/storage
/api/storage/*.key
/api/storage/pail
/api/vendor
/api.env
/api.env.backup
/api.env.production
/api.phpactor.json
/api.phpunit.result.cache
/apiHomestead.json
/apiHomestead.yaml
/apinpm-debug.log
/apiyarn-error.log
/api/auth.json
/api/.fleet
/api/.idea
/api/.nova
/api/.vscode
/api/.zed

# Logs
/spa/logs
/spa/*.log
/spa/npm-debug.log*
/spa/yarn-debug.log*
/spa/yarn-error.log*
/spa/pnpm-debug.log*
/spa/lerna-debug.log*

/spa/node_modules
/spa/.DS_Store
/spa/dist
/spa/dist-ssr
/spa/coverage
/spa/*.local

/spa/cypress/videos/
/spa/cypress/screenshots/

# Editor directories and files
/spa/.vscode/*
/spa/!.vscode/extensions.json
/spa/.idea
/spa/*.suo
/spa/*.ntvs*
/spa/*.njsproj
/spa/*.sln
/spa/*.sw?

/spa/*.tsbuildinfo

/spa/test-results/
/spa/playwright-report/


